@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  margin: 0;
  height: 100%;
}

body,
#root {
  min-height: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #123;
  background-image: linear-gradient(#123, #3a2266, #123);
  color: #fff;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
